node_modules
npm-debug.log
.env
.env.local
.env.development
.env.test
.env.production
.git
.gitignore
README.md
.eslintrc.js
.prettierrc
Dockerfile
.dockerignore
coverage
.vscode
.idea
*.log
dist
.github